{% extends 'layout.admin.html.twig' %}
{% import 'macros.twig' as myMacros %}


{% block style %}
.font-8pt{ font-size: 8pt; }
{% endblock style %}

{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-mg-12">

                <form action="{{ route('clients.list-pj') }}" method="GET" class="form-inline">
                    <div class="form-group">
                        <label for="exampleInputName2">Dt. Inicio</label>
                        <input type="date" value="{{ beginCreatedAt }}" name="begin_created_at" class="form-control" id="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">Dt. Final</label>
                        <input type="date" value="{{ endCreatedAt }}" name="end_created_at" class="form-control" id="" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-default">Filtrar</button>
                </form>

            </div>
        </div>
        <br/>
        <div class="row">
            {{ parent() }}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Administração de clientes - PJ
                    </h3>
                </div>
                <div class="panel-body">
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th class="text-center">E-MAIL</th>
                                    <th class="text-center">DOCUMENTO</th>
                                    <th class="text-center">RAMO / EMPRESA</th>
                                    <th class="text-center">DT. CADASTRO</th>
                                    <th class="text-center">AÇÕES</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for client in clients %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ client.email }}</td>
                                        <td>{{ client.doc_id }}</td>                                       
                                        <td>{{ client.company_category ?: '-' }}</td>
                                        <td>{{ client.created_at|date('d/m/Y H:i') }}</td>

                                        <td class="text-center">
                                            {# <a href="{{ route('client.edit', {'id' : client.id}) }}">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            | #}
                                            <a href="{{ route('client.show', {'id' : client.id}) }}">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {# {{ myMacros.pagination(clients|length, page, '/clientes?page=') }} #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}