{% extends 'layout.html.twig' %}

{% block style %}
.font-8pt{ font-size: 8pt; }
{% endblock style %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Administração de clientes
                    </h3>
                </div>
                <div class="panel-body">
                    {# <div class="row">
                        <div class="col-md-12">
                            <a href="{{ route('client.new') }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div> #}
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th class="text-center">Nome</th>
                                    <th class="text-center">Email</th>
                                    <th>Telefone</th>
                                    <th class="text-center">Tipo</th>
                                    <th class="text-center">Número</th>
                                    <th class="text-center">Ramo / Empresa</th>
                                    <th class="text-center">Veículo Modelo</th>
                                    <th class="text-center">DT. Cadastro</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for client in clients %}
                                    <tr>
                                        <td>{{ client.id }}</td>
                                        <td>{{ client.name }}</td>
                                        <td>{{ client.email }}</td>
                                        <td>{{ client.phone }}</td>
                                        <td class="font-8pt">{{ client.doc_type|upper }}</td>
                                        <td>{{ client.doc_id }}</td>
                                        <td align="center">{{ client.company_category ?: '-' }}</td>
                                        <td align="center">{{ client.car_model ?: '-' }}</td>
                                        <td>{{ client.created_at|date('d/m/Y H:i') }}</td>

                                        <td class="text-center">
                                            {# <a href="{{ route('client.edit', {'id' : client.id}) }}">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            | #}
                                            <a href="{{ route('client.show', {'id' : client.id}) }}">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}